<h2>Search Results</h2>
<% if @authors != nil %>
  <ul>
    <% @authors.each do |author| %>
    <li>
      <form action="/books/" method="post">
        <input type="hidden" name="author_id" id="author_id" value=<%= author.id %> readonly>
        <button type="submit" class="btn"><%= author.name %></button>
      </form>
    </li>
    <% end %>
  </ul>

  <% else %>
  <p>There are currently no authors to display.</p>
  <% end %>

  <a href="/books/<%= @book.id %>">Return to Book</a>
