<h1>Sign Up Now</h1>

<form action="/patrons" method="post">

  <div class="form-group">

    <label for="name">Name</label>
    <input id="name" name="name" class="form-control" type="text">

    <label for="phone">phone</label>
    <input id="phone" name="phone" class="form-control" type="number">

    <label for="address">address</label>
    <input id="address" name="address" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Sign Up!</button>
</form>
